.Post {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    margin-bottom: 15px;
}
.News {
    text-align: center;
}
.image {
    width: 100%;
    height: auto;
}
.title {
    font-weight: bold;
    font-size: 16px;
}
.img {
    width: 17%;
}
.bottomBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 83%;
    padding: 5px 35px;
}

.link {
    align-self: center;
}